KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=txns
KAFKA_NUM_PARTITIONS=3
MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=fraud_detection
MONGO_COLLECTION=fraud_alerts
DELTA_RAW_PATH=./data/raw
DELTA_CLEAN_PATH=./data/clean
GENERATOR_BATCH_SIZE=1
GENERATOR_INTERVAL=1
